* {
  box-sizing: border-box;
}

/*
 * Components
 */
.Body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.Connect {
  background-color: #f2f2f2;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.Button {
  box-sizing: border-box;
  border: 1px solid #1B1B1B;
  background-color: #1B1B1B;
  border: none;
  color: #f2f2f2;
  display: block;
  font-weight: 700;
  font-size: 1rem;
  margin: 0.5rem auto;
  transition: 250ms;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
}

.Button--connected {
  background-color: #0FA15D;
  color: #f2f2f2;
}


.Button:hover {
  background-color: #0FA15D;
}


.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  padding: 0.5rem;
}

/*
 * Utilities
 */
.u-italic {
  font-style: italic !important;
}

.u-border {
  border: 1px solid black;
}

.u-borderLeft {
  border-left: 1px solid black;
}

.u-flex {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.u-centerText {
  text-align: center;
}

.u-maxWidth {
  width: 100% !important;
}

.u-backgroundBlack {
  background-color: #1B1B1B !important;
}

u-fontL {
  font-size: 1.7rem !important;
}

u-fontL {
  font-weight: bold !important;
}
